.navAside p {
  text-align: right;
  position: absolute;
  right: 0;
  top: 250px;
  color: white; }

.calendar,
.map-pin {
  transition: 0.4s all ease-out;
  opacity: 0; }

.profile-photo {
  width: 200px;
  position: absolute;
  top: 150px;
  left: 0;
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: 0.4s all ease-out; }
  .profile-photo img {
    border-radius: 4px; }
  .profile-photo .online {
    position: absolute;
    background: #07dc3c;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 10px;
    border: 2px solid black;
    opacity: 0; }

.profile-photo-secondary {
  position: absolute;
  top: 150px;
  left: 0;
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: 0.4s all ease-out;
  width: 200px;
  opacity: 0;
  transition: none; }
  .profile-photo-secondary img {
    border-radius: 50% 50%; }
  .profile-photo-secondary .online {
    position: absolute;
    background: #07dc3c;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
    opacity: 0; }

.profile-photo img,
.profile-photo-secondary img {
  transition: 0.4s all ease;
  width: 100%;
  cursor: pointer; }

.profile-1 {
  transform: translate3d(-15px, -70px, 0) scale(0.25); }

.profile-2 {
  transform: translate3d(40px, -70px, 0) scale(0.25); }

.profile-3 {
  transform: translate3d(95px, -70px, 0) scale(0.25); }

.follow {
  font-weight: bold;
  width: 150px;
  transition: 1s all ease;
  position: absolute;
  top: 320px;
  left: 220px;
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: 0.4s all ease-out; }
  .follow:focus {
    outline: 1px dotted #05866a; }

.saveinfo {
  color: white;
  position: absolute;
  top: 194px;
  font-size: 20px;
  right: 56px;
  text-align: right;
  visibility: hidden;
  opacity: 0; }

.active-follow {
  background: #05866a; }

.profile-name {
  font-size: 35px;
  position: absolute;
  top: 355px;
  left: 0;
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: 0.4s all ease-out; }

.side-icon {
  position: absolute;
  top: 220px;
  right: 0;
  display: block;
  transition: 0.4s all ease-out;
  padding: 12px 12px 9px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50% 50%;
  cursor: pointer; }

.place .follow {
  transform: translate3d(-215px, -80px, 0); }

.place .profile-photo {
  transform: translate3d(-20px, -100px, 0) scale(0.75); }

.place .profile-name {
  transform: translate3d(140px, -125px, 0) scale(0.75);
  color: white; }

.place .side-icon {
  transform: translate3d(0, -40px, 0);
  background: rgba(255, 255, 255, 0.9); }

.place .calendar {
  opacity: 1; }

.group .follow {
  opacity: 0;
  transition: none; }

.group .profile-photo {
  transform: translate3d(-70px, -70px, 0) scale(0.25); }
  .group .profile-photo img {
    border-radius: 50% 50%; }

.group .profile-0,
.group .profile-1,
.group .profile-2,
.group .profile-3 {
  transition: 0.4s all ease-in-out;
  opacity: 1; }

.group .profile-photo img:hover,
.group .profile-photo-secondary img:hover {
  transition: 0.2s all ease;
  border: 10px solid white; }

.group .online {
  opacity: 1; }

.group .profile-name {
  transform: translate3d(0px, -125px, 0);
  color: white; }

.group .side-icon {
  transform: translate3d(0, -40px, 0);
  background: rgba(255, 255, 255, 0.9); }

.group .map-pin {
  opacity: 1; }

.index .profile-photo {
  transform: translate3d(0, 0, 0) scale(1); }

.index .profile-photo.profile-0 {
  transform: translate3d(0, 0, 0) scale(1) !important; }

@media screen and (max-width: 600px) {
  .group .side-icon,
  .place .side-icon {
    transform: translate3d(0, -65px, 0);
    padding: 14px 14px 12px; } }

.items,
.list-move {
  transition: all 0.4s ease; }

.list-leave-active {
  position: absolute; }

#text {
  transform-origin: 50% 50%; }

svg {
  fill: #a8dadc; }

@media screen and (max-width: 600px) {
  ul,
  .navAside {
    display: none; } }
